USE [master]
GO
/****** Object:  Database [Gestionale]    Script Date: 15/10/2021 15:32:45 ******/
CREATE DATABASE [Gestionale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestionale', FILENAME = N'C:\Users\roberta.beretta\Gestionale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestionale_log', FILENAME = N'C:\Users\roberta.beretta\Gestionale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestionale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestionale]
GO
USE [Gestionale]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/10/2021 15:32:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 15/10/2021 15:32:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodiceCliente] [nvarchar](10) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clienti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 15/10/2021 15:32:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataOrdine] [datetime2](7) NOT NULL,
	[CodiceOrdine] [nvarchar](20) NOT NULL,
	[CodiceProdotto] [nvarchar](20) NOT NULL,
	[Importo] [decimal](18, 2) NOT NULL,
	[ClienteId] [int] NOT NULL,
 CONSTRAINT [PK_Ordini] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211015095402_FirstMigration', N'3.1.19')
GO
SET IDENTITY_INSERT [dbo].[Clienti] ON 

INSERT [dbo].[Clienti] ([Id], [CodiceCliente], [FirstName], [LastName]) VALUES (1, N'cliente001', N'Roberta', N'Beretta')
INSERT [dbo].[Clienti] ([Id], [CodiceCliente], [FirstName], [LastName]) VALUES (5, N'cliente003', N'Arianna', N'Pino')
SET IDENTITY_INSERT [dbo].[Clienti] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordini] ON 

INSERT [dbo].[Ordini] ([Id], [DataOrdine], [CodiceOrdine], [CodiceProdotto], [Importo], [ClienteId]) VALUES (1, CAST(N'2021-10-15T00:00:00.0000000' AS DateTime2), N'ord001', N'prod001', CAST(1200.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Ordini] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clienti_CodiceCliente]    Script Date: 15/10/2021 15:32:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clienti_CodiceCliente] ON [dbo].[Clienti]
(
	[CodiceCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ordini_ClienteId]    Script Date: 15/10/2021 15:32:45 ******/
CREATE NONCLUSTERED INDEX [IX_Ordini_ClienteId] ON [dbo].[Ordini]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ordini_CodiceOrdine]    Script Date: 15/10/2021 15:32:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Ordini_CodiceOrdine] ON [dbo].[Ordini]
(
	[CodiceOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ordini_CodiceProdotto]    Script Date: 15/10/2021 15:32:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Ordini_CodiceProdotto] ON [dbo].[Ordini]
(
	[CodiceProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD  CONSTRAINT [FK_Ordini_Clienti_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clienti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ordini] CHECK CONSTRAINT [FK_Ordini_Clienti_ClienteId]
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD  CONSTRAINT [CK_Ordine_Importo] CHECK  (([Importo]>=(0)))
GO
ALTER TABLE [dbo].[Ordini] CHECK CONSTRAINT [CK_Ordine_Importo]
GO
USE [master]
GO
